
#top {
    position: relative;
    background-color: #000045;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #045491;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}
#contenedor{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
    margin: 0 auto; /*esto hace que el contenedor de centre verticalmente*/
    padding: 2px;
    text-align: left;
    width: 960px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#tooplate_main{
    background: url(../images/tooplate_middle4.png) ;
    background-color: white;
    clear: both;
    height: 600px;
    margin: 0 auto;
    padding: 10px 40px 0;
}

#tooplate_header{
    background: url(../images/toolplate_header1.jpg) ;
    height: 111px;
    margin: 0 auto;
    padding: 0 auto;
}
#tooplate_middle{
    
    clear: both;
    height: 40px;
    margin: 0 auto;
    padding: 0px 0px;  
}
