<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cine</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">jose</property>
    <mapping resource="aplicacion/datos/hibernate/mapeos/Butacas.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/Usuarios.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/PreciosCarteleras.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/Carteleras.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/Perfiles.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/ButacasCarteleras.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/Salas.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/VentasEntradas.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/Directores.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/Clasificaciones.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/PelDir.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/Peliculas.hbm.xml"/>
    <mapping resource="aplicacion/datos/hibernate/mapeos/PelCla.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
